* {
	box-sizing: border-box;
	padding: 0px;
	margin: 0px;
}
html {
	height: 100%;
}

body {
	min-height: 100%;
	background-color: #fff;
	font-family: Helvetica, Arial, sans-serif;
}

.wrapper {
    min-height: calc(100vh - 50px);
}

header {
	margin: 10px 0px 0px 0px;
/*	max-width: 1280px;*/
}

.container {
	max-width: 1280px;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
/*	align-items: center;*/
	justify-content: space-between;
}

/*start top*/

.logo {
	text-align: center;
	padding: 5px;
	margin: 10px;
	height: 70px;
	font-size: 3em;
	font-variant: small-caps;
	font-family: Catamaran, Helvetica, sans-serif;
}

#login {
	height: 50px;
	width: 80px;
	position: absolute;
	right: 8px;
	top: 15px;
}

button#login a {
	text-decoration: none;
	font-weight: 800;
	font-size: 1.5em;
}

button#login a:visited {
	text-decoration: none;
	color: black;
}
/*end top*/

/*start navbar*/

nav {
	background-color: #EDEEEE;
	padding: 0px 32px;
	margin-top: 10px;
}

.left-spacer {
	display: none;
}

.menu {
	flex-direction: column;
}

.menu a.is-active {
	display: block;
}


.menu a {
/*	change this to block to show the mini-menu*/
	display: none;

	margin: 0px;
	text-decoration: none;
	font-weight: 600;
	padding: 16px 30px;
}

a.block {
	display: block;
}

.menu a:active, .menu a:hover {
	background-color: #C0C0C0;
}

.menu a:visited {
	color: black;
}


.hamburger {
	float: right;
/*	display: block;*/
/*	position: relative;*/
/*	z-index: 1;*/
	user-select: none;
	appearance: none;
	border: none;
	outline: none;
	background: none;
	cursor: pointer;
	padding: 13px;
	height: 50px;
}

.hamburger span {
	display: block;
	width: 33px;
	height: 4px;
	margin-bottom: 4px;
	position: relative;

	border-radius: 6px;
	background-color: black;
/*	z-index: 1;*/
}

@media (min-width: 768px) {
	.left-spacer {
		display: block;
	}

	.hamburger {
		display: none;
	}

	.menu {
		display: flex;
		flex-direction: row;
	}

	.menu a {
		display: inline-block;
	}
}


/*end navbar*/

/*start first section of main content*/

div.first-sec {
	background-color: #bcebeb;
/*	border: solid black 1px;*/

}

.first-sec div {
	margin: auto;
	max-width: 768px;
	padding: 20px 0px 60px 10px;
	min-width: 300px;
}

.first-sec h1 {
	padding: 20px;
	margin-bottom: 10px;
/*	border: solid black 1px;*/
}

.first-sec p {
	width: 70%;
	max-width: 583px;
	margin-left: 20px;
/*	clear: right;*/
	font-size: 1.25em;
/*	border: solid black 1px;*/
}

.first-sec button {
/*	float: right;*/
	/*height: 75px;
	width: 120px;*/
	margin-top: 25px;
	margin-left: 20px;
	border-radius: 99px;
	font-size: 1.2em;
	background-color: #CCCCCC;
	transition-duration: 0.4s;
}

.first-sec button a {
	text-decoration: none;
	font-weight: 400;
	font-size: 1.2em;
	padding: 15px;
	line-height: 1.7;
	color: black;
}

.first-sec button:hover {
  	background-color: #DDDDDD;
}


/*end first section of main content*/

/*main content*/

div.main {
	padding: 30px;
}

article {
	margin: 15px 15px 15px 0px;
}

h2 {
	margin: 20px 0px 20px 0px;
}

h3 {
	margin: 15px 0px 15px 0px;
}

h3.long-title {
	min-width: 230px;
}

/*end main content*/






div.main {
	max-width: 768px;
	margin: auto;
/*	overflow: auto;*/
}

.main div.container {
	flex-direction: column;
}



/*footer*/

footer {
   background-color: #EDEEEE;
   color: black;
   text-align: center;
   padding: 5px;
   height: 50px;
}
